<% include header.ejs %>

<div class="eight-wrapper">
	<a class="tip tip1" target="_blank" href="http://www.hanfan.cc">更多资源，移步韩饭网官网</a>
	<div class="block-wrapper">
		<% movieData.data.forEach(function(movie){ %>
		    <a class="block-item block-item2" target="_blank" href="<%= movie.href %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= movie.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title item-title1" title="<%= movie.title %>"><%= movie.title %></h4>
		    	<h5 class="item-subTitle"><%- movie.subTitle %></h5>
		    </a>
	    <% }) %>
	</div>
	<div class="pagination-wrapper">
		<div class="pagination">
			<% movieData.pageData.forEach(function(page){ %>
			    <a class="pagination-item <%= page.isCurrent ? 'active' : '' %>" href="/eight/<%= page.page %>"><%= page.name %></a>
		    <% }) %>
		    <a class="pagination-item"><%= movieData.totalPage %></a>
	    </div>
	</div>
</div>

<% include footer.ejs %>