<% include header.ejs %>

<div class="detail-wrapper fivedetail-wrapper">
	<h1 class="detail-title detail-title1"><%= detail.title %></h1>
	<div class="detail-item">
		<div class="detail-item-content">
			<div class="center-img">
				<img src="<%= detail.poster %>">
			</div>
		</div>
	</div>
	<% if(detail.video) { %>
		<div class="detail-item">
			<div class="detail-item-content">
				<iframe src="<%= detail.video %>" class="video"></iframe>
			</div>
		</div>
	<% } %>
	<div class="detail-item">
		<div class="detail-item-content">
			<% detail.info.forEach(function(info){ %>
				<p class="p"><%- info %></p>
		    <% }) %>
		</div>
	</div>
	<% if(detail.download.length > 0) { %>
	<div class="detail-item">
		<div class="detail-item-title detail-item-title1 detail-item-title2">资源下载：</div>
		<div class="detail-item-content">
			<table border="1" cellspacing="0" cellpadding="0">
			  	<thead>
				    <tr>
				    	<th>网盘链接</th>
				      	<th>密码</th>
				      	<th>操作</th>
				    </tr>
			  	</thead>
			  	<tbody>
				  	<% detail.download.forEach(function(movie){ %>
  						<tr>
				    		<td><%= movie.href %></td>
				    		<td><%= movie.password %></td>
				    		<td>
				    			<a href="<%= movie.href %>" target="_blank" class="btn">前往下载</a>
				    			<a data-clipboard-text="<%= movie.href %>" class="btn copy-btn">复制链接</a>
				    		</td>
				    	</tr>
				    <% }) %>
				</tbody>
			</table>
		</div>
	</div>
	<% } %>
</div>

<% include footer.ejs %>