<% include header.ejs %>

<div class="one-wrapper">
	<a class="tip tip1" target="_blank" href="http://www.dygang.net/">更多资源，移步电影港官网</a>
	<h2 class="movie-title">最新电影</h2>
	<div class="block-wrapper">
		<% movieData.forEach(function(movie){ %>
		    <a class="block-item block-item1" target="_blank" href="/fivedetail/<%= movie.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= movie.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title" title="<%= movie.title %>"><%= movie.title %></h4>
		    </a>
	    <% }) %>
	</div>
	<h2 class="movie-title">最新电视剧</h2>
	<div class="block-wrapper">
		<% tvData.forEach(function(tv){ %>
		    <a class="block-item block-item1" target="_blank" href="/fivedetail/<%= tv.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= tv.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title" title="<%= tv.title %>"><%= tv.title %></h4>
		    </a>
	    <% }) %>
	</div>
	<h2 class="movie-title">高清电影</h2>
	<div class="block-wrapper">
		<% highMovieData.forEach(function(movie){ %>
		    <a class="block-item block-item1" target="_blank" href="/fivedetail/<%= movie.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= movie.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title" title="<%= movie.title %>"><%= movie.title %></h4>
		    </a>
	    <% }) %>
	</div>
</div>

<% include footer.ejs %>