<% include header.ejs %>

<div class="detail-wrapper fivedetail-wrapper">
	<h1 class="detail-title"><%= detail.title %></h1>
	<div class="info-wrapper flexbox">
		<div class="info-left">
			<img src="<%= detail.poster %>">
		</div>
		<div class="info-right flex1">
			<%- detail.info %>
		</div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title">剧情简介：</div>
		<div class="detail-item-content"><%- detail.description %></div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title">影片截图：</div>
		<div class="detail-item-content">
			<% detail.imgs.forEach(function(img){ %>
				<div class="detail-img">
					<img src="<%= img %>">
				</div>
		    <% }) %>
		</div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title detail-item-title1">资源下载：</div>
		<div class="detail-item-content">
			<table border="1" cellspacing="0" cellpadding="0">
			  	<thead>
				    <tr>
				    	<th>下载方式</th>
				      	<th>资源名称</th>
				      	<th>大小</th>
				      	<th>操作</th>
				    </tr>
			  	</thead>
			  	<tbody>
				  	<% detail.download.forEach(function(movie){ %>
				  		<% if(movie.size[0].indexOf('网盘') < 0) { %>
	  						<tr>
					    		<td><%= movie.size[0] %>下载</td>
					    		<td><%= movie.name %></td>
					    		
					    		<td><%= movie.size[1] %></td>
					    		<td>
					    			<a href="<%= movie.href %>" class="btn">点击下载</a>
					    		</td>
					    	</tr>
	  					<% } else{ %>
	  						<tr>
					    		<td><%= movie.size[0] %></td>
					    		<td><%= detail.title %></td>
					    		<td><%= movie.size[1] %>：<%= movie.size[2] %></td>
					    		<td>
					    			<a href="<%= movie.href %>" target="_blank" class="btn">前往下载</a>
					    		</td>
					    	</tr>
	  					<% } %>
				    <% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% include footer.ejs %>