<% include header.ejs %>

<div class="four-wrapper">
	<a class="tip tip1" target="_blank" href="https://gaoqing.fm/">更多资源，移步官网</a>
	<div class="block-wrapper">
		<% movieData.forEach(function(movie){ %>
		    <a class="block-item block-item1" target="_blank" href="/fourdetail/<%= movie.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= movie.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title item-title1" title="<%= movie.title %>"><%= movie.title %></h4>
		    </a>
	    <% }) %>
	</div>
	<div class="pagination-wrapper">
		<div class="pagination">
			<% if(page === '1') { %>
				<a class="pagination-item page-first" href="/four/1">首页</a>
			<% } else{ %>
				<a class="pagination-item" href="/four/<%= (+page-1).toString() %>">上一页</a>
			<% } %>
			<span class="page-on">第<%= page %>页</span>
			<a class="pagination-item" href="/four/<%= (+page+1).toString() %>">下一页</a>
	    </div>
	</div>
</div>

<% include footer.ejs %>