<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>Fee's Movie</title>
<link rel='shortcut icon' href='/fee.ico' />
<link rel='stylesheet' href='/css/reset.css' />
<link rel='stylesheet' href='/css/common.css' />
<link rel='stylesheet' href='/css/main.css' />
<link rel='stylesheet' href='/css/pace-theme-minimal.css' />
</head>
<body>
<div class="app">
	<div class="movie-wrapper">
		<div class="movie-heading centerVertical">
  			<div class="movie-search-wrapper">
  				<form class="search-form flexbox" method="post" action="/search/<%= type %>/1">
  					<!-- <select class="search-select" name="searchTpye">
  						<option value="1" selected="">默认搜索</option>
  						<option value="2">人人搜索</option>
  						<option value="3">韩饭搜索</option>
  					</select> -->
					<input type="text" name="keyword" value="<%= keyword ? keyword : '' %>" class="search-input flex1" placeholder="想看什么就搜一搜吧">
	  				<button class="option-button search-btn" type="submit">搜索</button>
  				</form>
  			</div>
  		</div>
		<div class="movie-content flexbox flex-column">
			<p id="tip">您的浏览器版本过低，请升级（慎用IE，推荐谷歌、火狐最新版）</p>
			<div class="movie-tabbar flexbox">
				<a class="tabbar-item flex1 <%= type==='1' ? 'active' : '' %>" href="/">80s</a>
				<a class="tabbar-item flex1 <%= type==='2' ? 'active' : '' %>" href="/two">电影天堂</a>
				<a class="tabbar-item flex1 <%= type==='4' ? 'active' : '' %>" href="/four/1">高清电台</a>
				<a class="tabbar-item flex1 <%= type==='3' ? 'active' : '' %>" href="/three/<%= page %>">海盗湾</a>
				<a class="tabbar-item flex1 <%= type==='5' ? 'active' : '' %>" href="/five">电影港</a>
				<a class="tabbar-item flex1 <%= type==='6' ? 'active' : '' %>" href="/six/1">去转盘网</a>
				<a class="tabbar-item flex1 <%= type==='7' ? 'active' : '' %>" href="/seven">人人影视</a>
				<a class="tabbar-item flex1 <%= type==='8' ? 'active' : '' %>" href="/eight/<%= page %>">韩饭网</a>
			</div>
			<div class="movie-container flex1">