<% include header.ejs %>

<div class="one-wrapper">
	<a class="tip tip1" target="_blank" href="http://www.80s.tw/">更多资源，移步80s官网（新版80s访问不了，暂时替换成旧版的资源。9.27）</a>
	<h2 class="movie-title">热门电影</h2>
	<div class="block-wrapper">
		<% movieHotData.forEach(function(movie){ %>
		    <a class="block-item block-item2" target="_blank" href="<%= movie.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= movie.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title" title="<%= movie.title %>"><%= movie.title %></h4>
		    	<h5 class="item-subTitle"><%= movie.subTitle %></h5>
		    </a>
	    <% }) %>
	</div>
	<h2 class="movie-title">热门电视剧</h2>
	<div class="block-wrapper">
		<% tvHotData.forEach(function(tv){ %>
		    <a class="block-item block-item2" target="_blank" href="<%= tv.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= tv.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title" title="<%= tv.title %>"><%= tv.title %></h4>
		    	<h5 class="item-subTitle"><%= tv.subTitle %></h5>
		    </a>
	    <% }) %>
	</div>
	<h2 class="movie-title">热门综艺</h2>
	<div class="block-wrapper">
		<% varietyHotData.forEach(function(variety){ %>
		    <a class="block-item block-item2" target="_blank" href="<%= variety.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= variety.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title" title="<%= variety.title %>"><%= variety.title %></h4>
		    	<h5 class="item-subTitle"><%= variety.subTitle %></h5>
		    </a>
	    <% }) %>
	</div>
	<h2 class="movie-title">热门动漫</h2>
	<div class="block-wrapper">
		<% comicHotData.forEach(function(comic){ %>
		    <a class="block-item block-item2" target="_blank" href="<%= comic.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= comic.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title" title="<%= comic.title %>"><%= comic.title %></h4>
		    	<h5 class="item-subTitle"><%= comic.subTitle %></h5>
		    </a>
	    <% }) %>
	</div>
	<h2 class="movie-title">最新电影</h2>
	<div class="block-wrapper">
		<% movieData.forEach(function(movie){ %>
		    <a class="block-item block-item3" target="_blank" href="<%= movie.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= movie.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title" title="<%= movie.title %>"><%= movie.title %></h4>
		    	<h5 class="item-subTitle"><%= movie.subTitle %></h5>
		    </a>
	    <% }) %>
	</div>
	<h2 class="movie-title">最新电视剧</h2>
	<div class="block-wrapper">
		<% tvData.forEach(function(tv){ %>
		    <a class="block-item block-item3" target="_blank" href="<%= tv.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= tv.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title" title="<%= tv.title %>"><%= tv.title %></h4>
		    	<h5 class="item-subTitle"><%= tv.subTitle %></h5>
		    </a>
	    <% }) %>
	</div>
	<h2 class="movie-title">最新综艺</h2>
	<div class="block-wrapper">
		<% varietyData.forEach(function(variety){ %>
		    <a class="block-item block-item3" target="_blank" href="<%= variety.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= variety.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title" title="<%= variety.title %>"><%= variety.title %></h4>
		    	<h5 class="item-subTitle"><%= variety.subTitle %></h5>
		    </a>
	    <% }) %>
	</div>
	<h2 class="movie-title">最新动漫</h2>
	<div class="block-wrapper">
		<% comicData.forEach(function(comic){ %>
		    <a class="block-item block-item3" target="_blank" href="<%= comic.id %>">
		    	<div class="item-poster equalHeight">
		    		<img src="<%= comic.poster %>" alt="">
		    	</div>
		    	<h4 class="item-title" title="<%= comic.title %>"><%= comic.title %></h4>
		    	<h5 class="item-subTitle"><%= comic.subTitle %></h5>
		    </a>
	    <% }) %>
	</div>
</div>

<% include footer.ejs %>