<% include header.ejs %>

<div class="detail-wrapper ninedetail-wrapper">
	<h1 class="detail-title"><%= detail.title %></h1>
	<div class="detail-item">
		<div class="detail-item-content">
			<div class="center-img center-img1">
				<img src="<%= detail.poster %>">
			</div>
		</div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title">简介：</div>
		<div class="detail-item-content detail-item-content1"><%- detail.info %></div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title detail-item-title1 detail-item-title2">下载：</div>
		<div class="detail-item-content">
				<table border="1" cellspacing="0" cellpadding="0">
				  	<thead>
					    <tr>
					      	<th>资源名称</th>
					      	<th class="width400">链接</th>
					      	<th>操作</th>
					    </tr>
				  	</thead>
				  	<tbody>
					  	<% detail.download.forEach(function(movie){ %>
					    	<tr>
					    		<td><%= movie.name %></td>
					    		<td class="width400" title="<%= movie.link %>">
					    			<input value="<%= movie.link %>">
					    		</td>
					    		<td>
					    			<a href="<%= movie.link %>" class="btn">迅雷下载</a>
					    			<a data-clipboard-text="<%= movie.link %>" class="btn copy-btn">复制链接</a>
					    		</td>
					    	</tr>
					    <% }) %>
					</tbody>
				</table>
			</div>
	</div>
</div>

<% include footer.ejs %>