<% include header.ejs %>

<div class="detail-wrapper">
	<h1 class="detail-title"><%- detail.title %></h1>
	<div class="info-wrapper flexbox">
		<div class="info-left">
			<img src="<%= detail.poster %>">
		</div>
		<div class="info-right flex1">
			<div class="info-right-item flexbox">
				<span class="right-item-title">主创：</span>
				<div class="right-item-content flex1">
					<% detail.member.forEach(function(name){ %>
						<%= name %>/
					<% }) %>
				</div>
			</div>
			<div class="info-right-item flexbox">
				<span class="right-item-title">类型：</span>
				<div class="right-item-content flex1">
					<% detail.sign.forEach(function(name){ %>
						<%= name %>/
					<% }) %>
				</div>
			</div>
			<div class="info-right-item flexbox">
				<span class="right-item-title">豆瓣评分：</span>
				<div class="right-item-content flex1">
					<%= detail.score %>
				</div>
			</div>
			<div class="info-right-item flexbox">
				<span class="right-item-title">上映日期：</span>
				<div class="right-item-content flex1">
					<%= detail.time[0] %>
				</div>
			</div>
			<div class="info-right-item flexbox">
				<span class="right-item-title">片长：</span>
				<div class="right-item-content flex1">
					<%= detail.time[1].replace(/片长/g, '') %>
				</div>
			</div>
			<div class="info-right-item flexbox">
				<span class="right-item-title">资源更新日期：</span>
				<div class="right-item-content flex1">
					<%= detail.time[2] %>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title">剧情简介：</div>
		<div class="detail-item-content"><%- detail.description %></div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title">影片截图：</div>
		<div class="detail-item-content">
			<img src="<%= detail.screenshot %>">
		</div>
	</div>
	<div class="detail-item">
		<h2 class="download-title">资源下载<h2>
		<% if(detail.higher.length > 0) { %>
			<div class="detail-item-title detail-item-title1">超清：</div>
			<div class="detail-item-content">
				<table border="1" cellspacing="0" cellpadding="0">
				  	<thead>
					    <tr>
					      	<th>资源名称</th>
					      	<th>格式</th>
					      	<th>大小</th>
					      	<th>操作</th>
					    </tr>
				  	</thead>
				  	<tbody>
					  	<% detail.higher.forEach(function(movie){ %>
					    	<tr>
					    		<td><%= movie.name %></td>
					    		<td><%= movie.format %></td>
					    		<td><%= movie.size %></td>
					    		<td>
					    			<a href="<%= movie.link %>" class="btn">迅雷下载</a>
					    			<a data-clipboard-text="<%= movie.link %>" class="btn copy-btn">复制下载链接</a>
					    		</td>
					    	</tr>
					    <% }) %>
					</tbody>
				</table>
			</div>
		<% } %>
		<% if(detail.high.length > 0) { %>
			<div class="detail-item-title detail-item-title1">高清：</div>
			<div class="detail-item-content">
				<table border="1" cellspacing="0" cellpadding="0">
				  	<thead>
					    <tr>
					      	<th>资源名称</th>
					      	<th>格式</th>
					      	<th>大小</th>
					      	<th>操作</th>
					    </tr>
				  	</thead>
				  	<tbody>
					  	<% detail.high.forEach(function(movie){ %>
					    	<tr>
					    		<td><%= movie.name %></td>
					    		<td><%= movie.format %></td>
					    		<td><%= movie.size %></td>
					    		<td>
					    			<a href="<%= movie.link %>" class="btn">迅雷下载</a>
					    			<a data-clipboard-text="<%= movie.link %>" class="btn copy-btn">复制下载链接</a>
					    		</td>
					    	</tr>
					    <% }) %>
					</tbody>
				</table>
			</div>
		<% } %>
		<% if(detail.normal.length > 0) { %>
			<div class="detail-item-title detail-item-title1">标清：</div>
			<div class="detail-item-content">
				<table border="1" cellspacing="0" cellpadding="0">
				  	<thead>
					    <tr>
					      	<th>资源名称</th>
					      	<th>格式</th>
					      	<th>大小</th>
					      	<th>操作</th>
					    </tr>
				  	</thead>
				  	<tbody>
					  	<% detail.normal.forEach(function(movie){ %>
					    	<tr>
					    		<td><%= movie.name %></td>
					    		<td><%= movie.format %></td>
					    		<td><%= movie.size %></td>
					    		<td>
					    			<a href="<%= movie.link %>" class="btn">迅雷下载</a>
					    			<a data-clipboard-text="<%= movie.link %>" class="btn copy-btn">复制下载链接</a>
					    		</td>
					    	</tr>
					    <% }) %>
					</tbody>
				</table>
			</div>
		<% } %>
		<% if(detail.low.length > 0) { %>
			<div class="detail-item-title detail-item-title1">枪版：</div>
			<div class="detail-item-content">
				<table border="1" cellspacing="0" cellpadding="0">
				  	<thead>
					    <tr>
					      	<th>资源名称</th>
					      	<th>格式</th>
					      	<th>大小</th>
					      	<th>操作</th>
					    </tr>
				  	</thead>
				  	<tbody>
					  	<% detail.low.forEach(function(movie){ %>
					    	<tr>
					    		<td><%= movie.name %></td>
					    		<td><%= movie.format %></td>
					    		<td><%= movie.size %></td>
					    		<td>
					    			<a href="<%= movie.link %>" class="btn">迅雷下载</a>
					    			<a data-clipboard-text="<%= movie.link %>" class="btn copy-btn">复制下载链接</a>
					    		</td>
					    	</tr>
					    <% }) %>
					</tbody>
				</table>
			</div>
		<% } %>
	</div>
</div>

<% include footer.ejs %>