<% include header.ejs %>

<div class="search-wrapper">
	<% if(searchData1.length > 0) { %>
		<h2 class="movie-title">80s搜索结果</h2>
		<div class="block-wrapper">
			<% searchData1.forEach(function(movie){ %>
			    <a class="block-item block-item1" target="_blank" href="/onedetail/<%= type %>/<%= movie.id %>">
			    	<div class="item-poster equalHeight">
			    		<img src="<%= movie.poster %>" alt="">
			    	</div>
			    	<h4 class="item-title" title="<%= movie.title %>"><%= movie.title %></h4>
			    	<h5 class="item-subTitle"><%= movie.subTitle %></h5>
			    </a>
		    <% }) %>
		</div>
	<% } %>
	<% if(searchData2.length > 0) { %>
		<h2 class="movie-title">海盗湾搜索结果</h2>
		<div class="block-wrapper">
			<% searchData2.forEach(function(movie){ %>
			    <a class="block-item block-item1" target="_blank" href="/threedetail/<%= movie.id %>">
			    	<div class="item-poster equalHeight">
			    		<img src="<%= movie.poster %>" alt="">
			    	</div>
			    	<h4 class="item-title item-title1" title="<%= movie.title %>"><%= movie.title %></h4>
			    </a>
		    <% }) %>
	    </div>
	<% } %>
	<% if(searchData3.length > 0) { %>
		<h2 class="movie-title">高清电台搜索结果</h2>
		<div class="block-wrapper">
			<% searchData3.forEach(function(movie){ %>
			    <a class="block-item block-item1" target="_blank" href="/fourdetail/<%= movie.id %>">
			    	<div class="item-poster equalHeight">
			    		<img src="<%= movie.poster %>" alt="">
			    	</div>
			    	<h4 class="item-title item-title1" title="<%= movie.title %>"><%= movie.title %></h4>
			    </a>
		    <% }) %>
	    </div>
	<% } %>
	<% if(searchData4.length > 0) { %>
		<h2 class="movie-title">去转盘网搜索结果</h2>
		<div class="list-wrapper">
			<table border="1" cellspacing="0" cellpadding="0">
			  	<thead>
				    <tr>
				      	<th class="width400">资源名称</th>
				      	<th>大小</th>
				      	<th>操作</th>
				    </tr>
			  	</thead>
			  	<tbody>
				  	<% searchData4.forEach(function(movie){ %>
				    	<tr>
				    		<td class="width400"><%- movie.title %></td>
				    		<td><%= movie.size[2] ? movie.size[2].replace(/大小：/g, '') : '' %></td>
				    		<td><a class="btn" target="_blank" href="<%= movie.href %>">前往下载</a></td>
				    	</tr>
				    <% }) %>
				</tbody>
			</table>
			<a class="tip" target="_blank" href="http://www.quzhuanpan.com/source/search.action?q=<%= keyword %>&currentPage=<%= +page+1 %>">更多结果请前往去转盘网官网</a>
		</div>
	<% } %>
	<% if(searchData5) { %>
		<h2 class="movie-title">DiggBT搜索结果</h2>
		<div class="list-wrapper">
			<table border="1" cellspacing="0" cellpadding="0">
			  	<thead>
				    <tr>
				      	<th class="width250">资源名称</th>
				      	<th>资源类型</th>
				      	<th>大小</th>
				      	<th>文件数</th>
				      	<th>下载速度</th>
				      	<th>更新日期</th>
				      	<th>下载类型</th>
				      	<th>操作</th>
				    </tr>
			  	</thead>
			  	<tbody>
				  	<% searchData5.data.forEach(function(movie){ %>
				    	<tr>
				    		<td class="width250"><%- movie.title %></td>
				    		<td><%- movie.subTitle %></td>
				    		<td><%- movie.size %></td>
				    		<td><%- movie.num %></td>
				    		<td><%- movie.speed %></td>
				    		<td><%- movie.time %></td>
				    		<td><%- movie.downloadType %></td>
				    		<td>
				    			<a class="btn" href="<%= movie.download %>">点击下载</a>
				    			<a data-clipboard-text="<%= movie.download %>" class="btn copy-btn">复制链接</a>
				    		</td>
				    	</tr>
				    <% }) %>
				</tbody>
			</table>
		</div>
		<div class="pagination-wrapper">
			<div class="pagination">
				<% searchData5.pageData.forEach(function(page){ %>
					<% if(page.isCurrent) { %>
				    	<a class="pagination-item active"><%= page.name %></a>
				    <% } else { %>
				    	<a class="pagination-item" href="/search/<%= searchType %>/<%= type %>/<%= page.link %>/<%= keyword %>"><%= page.name %></a>
				    <% } %>
			    <% }) %>
			    <a class="pagination-item"><%= searchData5.totalPage %></a>
		    </div>
		</div>
	<% } %>
	<% if(searchData6) { %>
		<h2 class="movie-title">韩饭网搜索结果</h2>
		<div class="block-wrapper">
			<% searchData6.data.forEach(function(movie){ %>
			    <a class="block-item block-item2" target="_blank" href="<%= movie.href %>">
			    	<div class="item-poster equalHeight">
			    		<img src="<%= movie.poster %>" alt="">
			    	</div>
			    	<h4 class="item-title item-title1" title="<%= movie.title %>"><%= movie.title %></h4>
			    	<h5 class="item-subTitle"><%- movie.subTitle %></h5>
			    </a>
		    <% }) %>
		</div>
		<div class="pagination-wrapper">
			<div class="pagination">
				<% searchData6.pageData.forEach(function(page){ %>
				    <a class="pagination-item <%= page.isCurrent ? 'active' : '' %>" href="/search/<%= searchType %>/<%= type %>/<%= page.page %>/<%= keyword %>"><%= page.name %></a>
			    <% }) %>
			    <a class="pagination-item"><%= searchData6.totalPage %></a>
		    </div>
		</div>
	<% } %>
	<% if(searchData1.length === 0 && searchData2.length === 0 && searchData3.length === 0 && searchData4.length === 0 && !searchData5 && !searchData6) { %>
		<p class="search-tip">未找到相关资源</p>
	<% } %>
</div>

<% include footer.ejs %>