<% include header.ejs %>

<div class="detail-wrapper threedetail-wrapper">
	<h1 class="detail-title"><%= detail.title %></h1>
	<div class="info-wrapper flexbox">
		<div class="info-left">
			<img src="<%= detail.poster %>">
		</div>
		<div class="info-right flex1">
			<%- detail.info %>
		</div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title">剧情简介：</div>
		<div class="detail-item-content"><%- detail.description %></div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title">影片截图：</div>
		<div class="detail-item-content">
			<% detail.imgs.forEach(function(img){ %>
				<div class="detail-img">
					<img src="<%= img %>">
				</div>
		    <% }) %>
		</div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title">下载种子：</div>
		<div class="detail-item-content">
			<% if(detail.href) { %>
				<a href="<%= detail.href %>"><%= detail.title %></a>
				<a data-clipboard-text="<%= detail.href %>" class="btn copy-btn">复制种子链接</a>
			<% } else{ %>
				<p>暂无资源或资源已被和谐</p>
			<% } %>
		</div>
	</div>
</div>

<% include footer.ejs %>